body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    background-color: var(--secondary-color);
}
.container {
    width: 1090px;
    background-color: var(--primary-color);
    margin: 0 auto;
}

hr {
    border-bottom: 1px solid var(--secondary-color);
    margin: 0px 277px;
}

.hero__title {
    text-align: center;
    padding: 36px 0px;
    color: var(--secondary-color);
    font-size: 24px;
    margin-block-end: 0px;
}