.check-year {
}
.check-year .container {
}

.check-year__thumb {
  margin-bottom: 36px;
  display: flex;
 justify-content: center;
 align-items: center;
 gap: 149px;
}

 .check-year__form {
  display: flex;
  height: 35px;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
}

.check-year__input {
  width: 185px;
  padding-left: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
}
.check-year__input::placeholder {
  color: #7e7e7e;
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-weight: 400;
}

.check-year__button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 21px;
  border-radius: 0 20px 20px 0;
  background-color: #000000;
}

.check-year__answer {
  text-align: center;
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-weight: 400;
}

.search-icon {
width: 15px;
height: 15px;

}
