footer {
    background-color: var(--primary-color);
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 165px;
    height: 70px;
    margin-right: 110px;
    fill: var(--secondary-color);
}
.footer__elements {
    display: flex;
    gap: 135px;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    margin-top: 61px;
    margin-bottom: 59px;
}
.footer__contacts__link {
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 20.4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts__link:hover,
.footer__contacts__link:focus {
    color: #8ACECF;
}

.footer__send-form {
    margin-top: 97px;
    margin-bottom: 63px;
}
.footer__input {
    color: #7E7E7E;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    border: none;
    padding: 10px 80px 10px 10px;
    border-radius: 20px;
    background: #D7D7D7;
    margin-right: 36px;
    margin-bottom: 18px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input:hover,
.footer__input:focus {
    outline: none;
    transform: scale(1.1);
}

.footer__send__btn {
    color: var(--primary-color);
    font-size: 12px;
    padding: 10px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    background: var(--secondary-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__send__btn:hover,
.footer__send__btn:focus {
    transform: scale(1.1);
}

.footer__send-text {
    color: var(--secondary-color);
    font-size: 6px;
}