.header {
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.logo__link {
}

.logo {
}

.header__button {

}

.logo__header {
       width: 165px;
    height: 70px;
    margin-right: 85px;
}
.header__nav__list {
    display: flex;
    gap: 50px;

}

.header__button {
width: 40px;
height: 20px;
border-radius: 11px;
background: #7A7A7A;
}

.header__nav__item {
}

.header__nav__link {
}

.header__text {
}