.form__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highest-number__form {
  display: flex;
  justify-content: center;
  width: 135px;
  height: 35px;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
  gap: 38px;
}
.highest-number__input {   
  color: #7E7E7E;
    text-align: center;
  padding-left: 10px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  background-color: #d7d7d7;
}
.highest-number__input::placeholder { 
  color: #7e7e7e;
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.highest-number__answer {
  text-align: center;
    padding-top: 36px;
    color: var(--secondary-color)
}