.our-team__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: nowrap;
}

.our-team__arrow__left,
.our-team__arrow__right {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 50px;
    height: 100px;
}

.our-team__arrow__left__img,
.our-team__arrow__right__img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.our-team__arrow__left:hover .our-team__arrow__left__img,
.our-team__arrow__right:hover .our-team__arrow__right__img {
    filter: grayscale(0%);
}

.our-team__main {
    padding: 25px 30px;
    border-radius: 12px;
    max-width: 400px;
    min-width: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team__img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    border: 1px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.our-team__name {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.our-team__info {
    font-size: 15px;
    color: var(--secondary-color);
}

.our-team__indicators {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.our-team__indicator {
    display: inline-block;
    width: 25px;
    height: 4px;
    background-color: #d9d9d9;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.our-team__indicator.active {
    background-color: #797979;
}