<section class="calculator">
    <div class="conteiner">
        <h2 class="calculator__title">Калькулятор</h2>
        <div class="calculator__group">
            <input type="text" class="calculator__group__num1" placeholder="Введіть число" />
            <div class="calculator__group__options">
                <button class="calculator__group__options__btn" data-options="+">+</button>
                <button class="calculator__group__options__btn" data-options="-">−</button>
                <button class="calculator__group__options__btn" data-options="*">×</button>
                <button class="calculator__group__options__btn" data-options="/">÷</button>
            </div>
            <input type="text" class="calculator__group__num2" placeholder="Введіть число" />
            <button class="calculator__group__equal">=</button>
            <p class="calculator__group__result"></p>
        </div>
    </div>
</section>