<section class="check-year">
        <h2 class="check-year__title">Перевір в який рік ти народився</h2>
       
        <div class="check-year__thumb"> 
        <form class="check-year__form">
                <input type="text" class="check-year__input"
                    placeholder="Введіть рік народження" />
                <button class="check-year__button">
                    <svg class="search-icon" width="15" height="15">
                        <use href="/img/svg/symbol-defs.svg#search-icon"></use>
                    </svg>
                </button>
        </form>

        <p class="check-year-answer"></p>
    </div>
    <hr>
    </div>
</section>