<section class="check-year">
        <h2 class="check-year__title">Перевір в який рік ти народився</h2>
        <form class="check-year__form">
            <input type="text" class="check-year__input" placeholder="Введіть рік народження" />
            <button class="check-year__button">
                <svg class="header__nav__item__link__icon" width: 15px;
height: 15px>
                    <use href="/img/svg/symbol-defs.svg#search-icon"></use>
                </svg>
            </button>
        </form>
        <p class="check-year-answer correct">Ви народилися у високосний рік!</p>
</section>