<section class="check-year">
        <h2 class="check-year__title">Перевір в який рік ти народився</h2>
       
        <div class="check-year__thumb"> 
        <form class="check-year__form">
                <input type="text" name="year" class="check-year__input"
                    placeholder="Введіть рік народження" />
                <button class="check-year__button light-border">
                    <svg class="search-icon">
                        <use href="/img/svg/symbol-defs.svg#icon-loupe"></use>
                    </svg>
                </button>
        </form>
        <p class="check-year__answer"></p>
</section>
