<div class="modal__footer__backdrop is-hidden" id="backdrop-footer">
  <div class="modal__footer__container">
    <button class="footer__close__button" type="button" id="close-modal-footer-btn">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
            <path d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16" stroke="black"/>
            </svg> -->
            <svg class="close__icon">
              <use href="/img/svg/symbol-defs.svg#icon-close"></use>
            </svg>
    </button>
    <h2 class="modal__footer__title">Дякую за підписку!</h2>
    <img src="/img/modal-elements/sword.png" alt="sword" class="modal__footer-img footer__first-img png-switch">
    <img src="/img/modal-elements/gamedev.png" alt="gamedev" class="modal__footer-img footer__second-img png-switch">
    <img src="/img/modal-elements/puzzle.png" alt="puzzle" class="modal__footer-img footer__third-img png-switch">
    <img src="/img/modal-elements/tictac.png" alt="tictac" class="modal__footer-img footer__fourth-img png-switch">
  </div>
</div>
