<footer>
  <div class="container">
    <a href="index.html" class="logo__link">
      <svg class="logo">
        <use href="/img/svg/symbol-defs.svg#icon-Group-128-1"></use>
      </svg>
    </a>
    
    <div class="footer__elements">
            <address class="footer__contacts">
                <a class="footer__contacts__link" href="tel:+381234567890"
                  >Тел: +38 (123) 456 78 90</a
                >
                <a class="footer__contacts__link" href="mailto:codingmagic@gmail.com"
                  >E-Mail: codingmagic@gmail.com</a
                >
                <a class="footer__contacts__link" href="https://www.facebook.com/"
                  >Facebook: CodingMagic</a
                >
                <a class="footer__contacts__link" href="https://x.com/"
                  >Twitter: CodingMagic</a
                >
                <a class="footer__contacts__link" href="https://www.instagram.com/"
                  >Instagram: CodingMagic</a
                >
              </address>

        <div class="footer__send-form">
            <input
              type="email"
              placeholder="Ваша ел. адреса..."
              id="send"
              class="footer__input"
              required
            />
            <a href="#" class="footer__link-send">
              <button class="footer__send__btn" id="open-modal-footer__button">Підписатися</button>
            </a>
            <p class="footer__send-text">
              *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
            </p>
          </div>
    </div>
  </div>
</footer>
