<section class="guess-number">
    <div class="container">
        <hr>
        <h2 class="guess-number__title">Вгадай число, яке загадав комп’ютер</h2>
        <input type="text" placeholder="Введіть число" class="guess-number__number">
        <img src="/src/img/magnifying-glass.png" alt="" class="guess-number__img">
        <p class="guess-number__answer">Вітаю, ви вгадали число! (number) </p>
        <p class="guess-number__answer">Ви програли, комп’ютер загадав (number) </p>
    </div>
</section>