<section class="guess-number">
        <hr>
        <h2 class="guess-number__title">Вгадай число, яке загадав комп’ютер</h2>
        <form action="" class="guess-number__form">
            <input type="text" placeholder="Введіть число" class="guess-number__input">
            <button class="guess-number__btn">
                <img src="/img/magnifying-glass.png" alt="magnifying-glass" class="guess-number__img">
            </button>
        </form>
        <p class="guess-number__good-answer">Вітаю, ви вгадали число! (number) </p>
        <p class="guess-number__bad-answer">Ви програли, комп’ютер загадав (number) </p>
        <p class="guess-number__result"></p>
</section>
