<section class="guess-number">
    <div class="conteiner">
        <h2 class="guess-number__title">Вгадай число, яке загадав комп’ютер</h2>
        <form action="" class="guess-number__form">
            <input type="text" placeholder="Введіть число" class="guess-number__input">
            <button class="guess-number__btn">
                <svg class="guess-number__img">
                    <use href="/img/svg/symbol-defs.svg#icon-loupe"></use>
                </svg>
            </button>
        </form>
        <p class="guess-number__result"></p>
    </div>
</section>