<header class="header">
      <div class="container">
    <nav class="header__nav"> 
            <a href="index.html" class="logo__link">
        <svg class="logo__header">
            <use href="/img/svg/symbol-defs.svg#icon-Group-128-1"></use>
        </svg>
        </a>
        <ul class="header__nav__list">
            <li class="header__nav__item"><a class="header__nav__link" href="">Інтерактив</a></li>
            <li class="header__nav__item"><a class="header__nav__link" href="">Наша команда</a></li>
            <li class="header__nav__item"><a class="header__nav__link" href="">Контакти</a></li>
        </ul>    
            </nav>
             <div class="theme__div"></div>
            <button class="header__button">%</button>
        <p class="header__text" type="button">Вітаємо, User!</p> 

    </button>
    </div>
    </header>