<div class="modal__backdrop active" id="backdrop">
  <div class="modal__container">
    <button class="close__button" type="button" id="close-modal-btn">
            <svg class="close__icon">
              <use href="/img/svg/symbol-defs.svg#icon-close"></use>
            </svg>
    </button>
    <h3 class="modal__text">Привіт!<br>
Ви потрапили на сайт інтерактивних ігор та завдань<br>
Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
Бажаємо Вам гарно провести час!</h3>
<h3 class="modal__title">Введіть своє ім’я:</h3>
<form action="" class="modal__form">
<input type="text" class="modal__input-form" id="modal__input-form" placeholder="Ваше ім’я...">
<button class="modal__button-form" id="modal__button-form">Зберегти</button>
</form>
    <img src="/img/modal-elements/sword.png" alt="sword" class="modal-img modal__first-img png-switch">
    <img src="/img/modal-elements/gamedev.png" alt="gamedev" class="modal-img modal__second-img png-switch">
    <img src="/img/modal-elements/puzzle.png" alt="puzzle" class="modal-img modal__third-img png-switch">
    <img src="/img/modal-elements/tictac.png" alt="tictac" class="modal-img modal__fourth-img png-switch">
  </div>
</div>
