<section class="highest-number" data-category="numerical">
    <hr>
    <h2 class="highest-number__title">Введіть 3 числа
    </h2>
    <div class="form__thumb">
        <form action="" class="highest-number__form">
            <input class="highest-number__input highest-number__input-first" placeholder="Введіть число" type="text">
            <input class="highest-number__input highest-number__input-second" placeholder="Введіть число" type="text">
            <input class="highest-number__input highest-number__input-third" placeholder="Введіть число" type="text">
        </form>
    </div>
    <p class="highest-number__answer"></p>
</section>