<section id="our-team" class="our-team" data-category="acquaintance">
    <div class="container">
        <h2 class="our-team__title">Наша команда</h2>
        <div class="our-team__wrapper">
            <button class="our-team__arrow__left team-arrow">
        <img src="/img/our-team/arrow-left.png" alt="Попередній" class="our-team__arrow__left__img" />
      </button>

            <div class="our-team__main">
                <img src="" alt="" class="our-team__img">
                <h3 class="our-team__name"></h3>
                <p class="our-team__info"></p>
            </div>

            <button class="our-team__arrow__right team-arrow">
        <img src="/img/our-team/arrow-right.png" alt="Наступний" class="our-team__arrow__right__img" />
      </button>
        </div>

        <div class="our-team__indicators">
            <span class="our-team__indicator active"></span>
            <span class="our-team__indicator"></span>
            <span class="our-team__indicator"></span>
        </div>
    </div>
</section>