<section class="scientists">
  <div class="container">
    <hr>
    <h2 class="scientists__title">Обери вченого/их</h2>
    <ul class="scientists__list">
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/albert.jpg"
            alt="albert"
            class="scientists__card"
          />
          <p class="scientists__item__text">Albert Einstein <br />1879-1955</p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/newton.jpg"
            alt="newton"
            class="scientists__card"
          />
          <p class="scientists__item__text">Isaac Newton <br />1643-1727</p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/galilei.jpg"
            alt="galilei"
            class="scientists__card"
          />
          <p class="scientists__item__text">Galileo Galilei <br />1562-1642</p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/curie.jpg"
            alt="curie"
            class="scientists__card"
          />
          <p class="scientists__item__text">Marie Curie <br />1867-1934</p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/kepler.jpg"
            alt="kepler"
            class="scientists__card"
          />
          <p class="scientists__item__text">Johannes Kelper <br />1571-1630</p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/copernicus.jpg"
            alt="copernicus"
            class="scientists__card"
          />
          <p class="scientists__item__text">
            Nicolaus Copernicus <br />1473-1543
          </p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/planck.jpg"
            alt="planck"
            class="scientists__card"
          />
          <p class="scientists__item__text">Max Planck <br />1858-1947</p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/blodgett.jpg"
            alt="blodgett"
            class="scientists__card"
          />
          <p class="scientists__item__text">
            Katherine Blodgett <br />1898-1979
          </p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/lovelace.jpg"
            alt="lovelace"
            class="scientists__card"
          />
          <p class="scientists__item__text">Ada Lovelace <br />1815-1979</p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/goode.jpg"
            alt="goode"
            class="scientists__card"
          />
          <p class="scientists__item__text">Sarah E. Goode <br />1855-1905</p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/meitner.jpg"
            alt="meitner"
            class="scientists__card"
          />
          <p class="scientists__item__text">Lise Meitner <br />1878-1968</p>
        </div>
      </li>
      <li class="scientists__item">
        <div class="scientists__item-wrapper">
          <img
            src="img/scientists/hanna.jpg"
            alt="hanna"
            class="scientists__card"
          />
          <p class="scientists__item__text">
            Hanna Hammarström <br />1829-1909
          </p>
        </div>
      </li>
    </ul>

    <ul class="scientists__list-btn">
        <div class="scientists__first-elements">
            <li class="scientists__item-btn">
                <button class="scientists__btn" type="button">
                  Які вчені народилися в 19 ст.
                </button>
              </li>
              <li class="scientists__item-btn">
                <button class="scientists__btn" type="button">
                  Відсортувати вчених за алфавітом
                </button>
              </li>
              <li class="scientists__item-btn">
                <button class="scientists__btn" type="button">
                  Відсортувати вчених за кількістю прожитих років
                </button>
              </li>
              <li class="scientists__item-btn">
                <button class="scientists__btn" type="button">
                  Знайти вченого, який народився найпізніше
                </button>
              </li>
        </div>

        <div class="scientists__second-elements">
            <li class="scientists__item-btn">
                <button class="scientists__btn" type="button">
                  Знайти рік народження Albert Einshtein
                </button>
              </li>
              
              <li class="scientists__item-btn">
                <button class="scientists__btn" type="button">
                  Знайти вчених, прізвища яких починаються на на літеру “С”
                </button>
              </li>
              <li class="scientists__item-btn">
                <button class="scientists__btn" type="button">
                  Видалити всіх вчених, ім’я яких починається на “А”
                </button>
              </li>
              
              <li class="scientists__item-btn">
                <button class="scientists__btn" type="button">
                  Знайти вченого, який прожив найдовше і вченого, <br> який прожив найменше
                </button>
              </li>
        </div>
      
      <li class="scientists__item-btn">
        <button class="scientists__btn" type="button">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </li>
    </ul>
  </div>
</section>
