<section class="stone">
    <div class="container">
        <hr>
        <h2 class="stone__title">Камінь - ножиці - папір</h2>
        <ul class="stone__list">
            <li class="stone__item"><img src="/src/img/stone/stone.png" alt="stone" class="stone__img"></li>
            <li class="stone__item"><img src="/src/img/stone/scissors.png" alt="scissors" class="stone__img"></li>
            <li class="stone__item"><img src="/src/img/stone/paper.png" alt="paper" class="stone__img"></li>
        </ul>
        <p class="stone__text">Рахунок: <br> Комп’ютер - 0 <br> Ви - 0</p>
        <p class="stone__answer">Ви виграли раунд!</p>
    </div>
</section>