<section class="stone" data-category="game">
    <hr>
        <h2 class="stone__title">Камінь - ножиці - папір</h2>
        <div class="stone__game">
            <div class="stone__row-wrapper">
                <div class="stone__row">
                    <div class="stone__options">
                        <button class="stone__btn"><img src="/img/stone/stone.png" alt="stone" class="stone__img"></button>
                        <button class="stone__btn"><img src="/img/stone/scissors.png" alt="scissors" class="stone__img"></button>
                        <button class="stone__btn"><img src="/img/stone/paper.png" alt="paper" class="stone__img"></button>
                    </div>

                    <div class="stone__score">
                        <p>Рахунок:</p>
                        <p>Комп’ютер - <span class="stone__computer__score">0</span></p>
                        <p>Ви - <span class="stone__user__score">0</span></p>
                    </div>
                </div>
            </div>

            <p class="stone__result"></p>
            <button class="stone__computer__btn">Варіант комп’ютера</button>
        </div>
</section>