<section>
<h2 class="time-counter_title">Калькулятор часу</h2>
<div class="time-counter__thumb">
<form class="time-counter__form">
    <input type="text" name="year" class="time-counter__input"
    placeholder="Введіть число" />
    <button class="time-counter__button light-border">
        <svg class="search-icon">
            <use href="/img/svg/symbol-defs.svg#icon-loupe"></use>
        </svg>
    </button>
        </form>
        <div class="time-counter__divide"></div>
        <p class="time-counter__answer">0 дн. 00:00:00</p>
        </div>
</section>