/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/


/* base */

@import url('./base/reset.css');
@import url('./base/common.css');

/* layout */

@import url('./layout/header.css');
@import url('./layout/check-year.css');
@import url('./layout/football.css');
@import url('./layout/scientists.css');
@import url('./layout/calculator.css');
@import url('./layout/footer-modal.css');
@import url('./layout/footer.css');
@import url('./layout/guess-number.css');
:root {
  --primary-color: #FFF;
  --secondary-color: #000;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--primary-color);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.dark-theme {
    --primary-color: #FFF;
    --secondary-color: #000;
}